* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #E6F2FF; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

/* Main Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card Styling */
.card {
    background-color: white;
    border-radius: 16px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    width: 320px; 
    text-align: center;
    height: 499px;
}

/* QR Code Styling */
.qr-code {
    width: 100%; 
    max-width: 200px; 
    margin: 0 auto 16px; 
}

/* Heading Styling */
.card h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 12px;
    padding-top: 24px;
}

/* Paragraph Styling */
.card p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
    padding-top: 16px;
}

.sm-redtangle {
    background-color: #2C7EFB;
    border-radius: 16px; 
    padding: 16px;
    width: 280px; 
    text-align: center;
    height: 250px;
}


@media (max-width: 480px) {
    .card {
        width: 90%; 
    }

    .card h2 {
        font-size: 16px; 
    }

    .card p {
        font-size: 12px; 
    }
}
